html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: $base-min-width;
  color: $base-text-color;
  font: #{$font-size-base}/#{$line-height-base} $base-font-family;
  background: $base-background-color;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

p, ul, ol {
  margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5em;
  font-weight: bold;
  font-family: $base-font-sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

a {
  color: $base-link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
