html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font: 16px/1.5 comfortaa, sans-serif;
  color: #000;
  background-color: #fff;
  min-width: 320px;
}

p, ul, ol {
  margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0 0 .5em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}


a {
  color: #1976d2;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
