.main {
  padding: 30px 0;
  margin: 0 auto;
  width: 400px;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../../images/forms_bg.jpg) no-repeat 50% 50%;
  opacity: 0.9;
  z-index: -1;
}

.form-control {
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
  padding: 10px 15px;
}

.form-group {
  margin-bottom: 30px;
}

.search-form {
  position: relative;
  margin-bottom: 30px;
}

.search-form .btn {
  position: absolute;
  cursor: pointer;
  right: 3px;
  top: 3px;
  bottom: 3px;
  width: 50px;
  background-color: transparent;
  border: 0;
  border-radius: 0 4px 4px 0;
  padding: 0;
  background-image: url(../../images/magnifier.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.search-form .form-control {
  padding-right: 52px;
}

.button {
  background-color: #009688;
  color: #fff;
  font-weight: bold;
  border: 2px solid #009688;
  border-radius: 5px;
  width: 100%;
  padding: 10px 15px;
}

.button:hover {
  background-color: #2cbab1;
}

.checkmark-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #ccc;
  background-color: transparent;
}

.checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: transparent;
}

.container {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  margin: 0 80px 30px 0;
  cursor: pointer;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container input:checked ~ .checkmark {
  background-color: #009688;
}

textarea {
  resize: none;
  height: 200px;
}

input:focus, textarea:focus {
  border-color: #009688;
}

:focus {outline:none;}
