@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons/icomoon.eot?53w289");
  src: url("../fonts/icons/icomoon.eot?53w289#iefix") format("embedded-opentype"),
  url("../fonts/icons/icomoon.ttf?53w289") format("truetype"),
  url("../fonts/icons/icomoon.woff?53w289") format("woff"),
  url("../fonts/icons/icomoon.svg?53w289#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-weight: normal;
  font-family: "icomoon" !important;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shape-7:before {
  color: #00aeef;
  content: "\e900";
}

.icon-shape-8:before {
  color: #00aeef;
  content: "\e901";
}

.icon-shape-8_2:before {
  color: #e3e9ea;
  content: "\e902";
}

.icon-shape-9:before {
  color: #fff;
  content: "\e903";
}

.icon-shape-9_2:before {
  color: #e3e9ea;
  content: "\e904";
}

.icon-shape-10:before {
  color: #00aeef;
  content: "\e905";
}

.icon-shape-11:before {
  color: #00aeef;
  content: "\e906";
}

.icon-shape-13:before {
  color: #fff;
  content: "\e907";
}

.icon-shape-14:before {
  color: #e3e9ea;
  content: "\e908";
}

.icon-facebook:before {
  color: $white;
  content: "\f09a";

}

.icon-linkedin:before {
  color: $white;
  content: "\e90b";
}

.icon-twitter:before {
  color: $white;
  content: "\f099";
}

.icon-chevron-circle-right:before {
  content: "\f138";
}

.icon-youtube-play:before {
  color: $white;
  content: "\f16a";
}
