// Переменные цветов

$gray: #8297a7;
$gray-icons: #e3e9ea;
$gray-dark: #656e74;
$blue: #00aeef;
$dark-blue: #2e3192;
$indigo: #171a8f;
$green: #a2ca28;
$dark-green: #218838;
$red: #fd634e;
$red-dark: #ed3123;


$black: #000;
$white: #fff;

$base-font-sans-serif: "Open Sans", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
$montserrat-font-sans-serif: "Montserrat", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
$base-font-serif: "Playfair Display", "Times New Roman", "Times", "Baskerville", "Georgia", serif;
$avenir-font-sans-serif: "Avenir Next Rounded Std", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
$proxima-font-sans-serif: "Proxima Nova Rg", "Arial", "Helvetica Neue", "Helvetica", sans-serif;

// Основной размер и цвет текста, семейство шрифта и цвет фона
$base-text-color: $black;
$base-background-color: $white !default;
$font-size-base: 14px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$base-min-width: 320px;

// Цвет глобальной ссылки
$base-link-color: $blue;

// Формы
$form-element-border-color: $gray;
$form-element-focus-border-color: $black;
$placeholder-color: $gray;

// Переменные font-size для заголовков
$h1-font-size: 40px;
$h2-font-size: 35px;
$h3-font-size: 24px;
$h4-font-size: 17px;
$h5-font-size: 15px;
$h6-font-size: 14px;
