.card {
  margin: 20px;
}

ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.hover-box ul {
  display: flex;
  flex-wrap: wrap;
}

.hover-box a {
  margin: 1px;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  background-color: #3a454d;
}

.hover-box a:hover {
  background-color: #465a64;
  transition: .3s ease-in-out;
}

img {
  width: 100%;
}

.img-box {
  position: relative;
}

.card .hover-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.card:hover .hover-box {
  opacity: 1;
}

.title-box h3,
.title-box p {
  margin: 0 0 0.6em;
}

.title-box h3 {
  color: #292f36;
  font-weight: bold;
  font-size: 18px;
}

.title-box p {
  color: #8d8f92;
  font-size: 14px;
}

.img-box .icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-box {
  padding: 20px;
  background-color: #e1e6ea;
  transition: .3s ease-in-out;
}

.card:hover .title-box {
  background-color: #3a454d;
}

.card:hover .title-box h3,
.card:hover .title-box p {
  color: #fff;
  transition: .3s ease-in-out;
}

:root {
  --charcoal-grey-75: rgba(65, 61, 75, 0.75);
  --slate: #465a64;
  --charcoal-grey: #3a454d;
  --white: #fff;
}
