main {
  padding: 10px;
}

.card {
  margin: 0 15px;
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hover-box ul {
  display: flex;
}

.hover-box a {
  margin: 1px;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  background-color: #3a454d;
  transition: background-color .2s ease-in-out;
  outline: 0;
}

.hover-box a:hover {
  background-color: #465a64;
}

img {
  width: 100%;
}

.img-box {
  position: relative;
}

.card .hover-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.card:hover .hover-box {
  opacity: 1;
}

.title-box h3,
.title-box p {
  margin: 0 0 0.6em;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.title-box h3 {
  color: #292f36;
  font-weight: bold;
  font-size: 18px;
}

.title-box p {
  color: #8d8f92;
  font-size: 14px;
}

.img-box .icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-box {
  padding: 20px;
  background-color: #e1e6ea;
}

.card:hover .title-box {
  background-color: #3a454d;
}

.card:hover .title-box h3 {
  color: #fff;
}

.card:hover .title-box p {
  color: #fff;
}

.slick-dots {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  margin: 10px;
}

li button {
  padding: 0;
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3a454d;
  border: none;
  outline: 0;
}

li button:hover {
  background-color: #e1e6ea;
  border: 1px solid #3a454d;
}

@media all and (min-width: 768px) {
  .slider {
    position: relative;
    padding: 0 30px;
  }
  .slider .slick-arrow {
    border: none;
    font-size: 0;
    outline: 0;
  }
  .slick-prev::before {
    content: "\ea44";
    font-size: 30px;
    color: #3a454d;
    position: absolute;
    left: 0;
    top: 50%;
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .slick-next::before {
    content: "\ea42";
    font-size: 30px;
    color: #3a454d;
    position: absolute;
    right: 0;
    top: 50%;
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
