@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icons/icomoon.eot?tk3wtz');
  src:  url('../../fonts/icons/icomoon.eot?tk3wtz#iefix') format('embedded-opentype'),
  url('../../fonts/icons/icomoon.ttf?tk3wtz') format('truetype'),
  url('../../fonts/icons/icomoon.woff?tk3wtz') format('woff'),
  url('../../fonts/icons/icomoon.svg?tk3wtz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
