@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icons/icomoon.eot?a8ih7p');
  src:  url('../../fonts/icons/icomoon.eot?a8ih7p#iefix') format('embedded-opentype'),
  url('../../fonts/icons/icomoon.ttf?a8ih7p') format('truetype'),
  url('../../fonts/icons/icomoon.woff?a8ih7p') format('woff'),
  url('../../fonts/icons/icomoon.svg?a8ih7p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-linkedin2:before {
  content: "\eaca";
}
