@charset "utf-8";

/*
 * ========== common.scss ========== отметила, чтобы видеть, какие блоки в скомпилированном main.css к чему относятся
 */
.wrapper {
  position: relative;
  overflow: hidden;
}

body {
  background-color: $dark-gray-body;
}

main {
  padding: 10px;

  @include media ('>=tablet') {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.center {
  text-align: center;

  @include media ('>=phone') {
    text-align: left;
  }
}

.h2 {
  display: inline-block;
  margin-bottom: 30px;
  color: $white;
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;
  border-bottom: 4px solid $dark-gray;

  @include media ('>=phone') {
    display: inline-block;
    margin: 0 0 30px 10px;
  }

  @include media ('>=tablet') {
    padding-left: 15px;
    font-size: 36px;
    border-bottom: 0;
    border-left: 8px solid $dark-gray;
  }
}

img {
  width: 100%;
}
