@charset "utf-8";

/*
 * ========== button.scss ========== отметила, чтобы видеть, какие блоки в скомпилированном main.css к чему относятся
 */
a.btn {
  display: inline-block;
}

.btn {
  margin: 0 auto;
  padding: 10px 20px;
  color: $white;
  text-transform: uppercase;
  background-color: $dark-gray-body;
  border: 2px solid $white;
  border-radius: 6px;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;

  &:hover {
    color: $dark-gray;
    background-color: $white;
  }
}

.center-btn {
  text-align: center;
}
